# Comma-separated list of rules to disable (Since 0.34.0)
# Note that rules in any ruleset other than the standard ruleset will need to be prefixed
# by the ruleset identifier.
[*.{kt,kts,java,xml,gradle,md}]
#https://pinterest.github.io/ktlint/1.0.0/rules/standard/
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_comment-spacing = disabled
# seems to be broken for case of annotation/comment when it's generating wrong indentation
ktlint_standard_annotation = disabled
ktlint_standard_annotation-spacing = disabled
ktlint_standard_comment-wrapping = disabled
# disabled for now to map exact naming from iOS api, can/should be removed when DSP extracted
ktlint_standard_enum-entry-name-case = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_no-empty-first-line-in-method-block = disabled
ktlint_standard_property-wrapping = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_spacing-between-declarations-with-comments = disabled
ktlint_standard_spacing-between-declarations-with-annotations = disabled
ktlint_standard_wrapping = disabled
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_no-semi = disabled
#ktlint rules
ktlint_standard = enabled

# currently disabled as it's false positive on all our XyzScreen(), and few reusable pieces in Defaults which don't have Modifier just for simplicity
# we need to probably create own ktlint rule to have better configurability, this is actually good to have lint rule
ktlint_compose_modifier-missing-check = disabled
compose_allowed_composition_locals = AppSizes,AppTextStyles,AppColors,LocalDisplay,LocalTextMeasurer,LocalToastService
ktlint_compose = enabled

ktlint_code_style = android_studio
max_line_length = 180
ij_kotlin_packages_to_use_import_on_demand = ""
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
